*{
    margin: 0;
    padding: 0;
}
header {
    height: 50px;
    background-color: #000000;
}
header h1{
    text-align: center;
    color: white;

}
.cuadro0{
    height: 80px;
    background-color: #000000;
    text-align: center;
}
.cuadro0 p{
    color: white;
}
.header2{
    height: 80px;
    background-color: #0d2346;
    text-align: center;
}
.header2 p{
    color: white;
}
.cuadro1{
    height: 100px;
    background-color: #32579d;
    text-align: center;
}
.cuadro1 p{
    color: white;
}
.cuadro2{
    height: 100px;
    background-color:  #32579d;
    text-align: center;
}
.cuadro2 p{
    color: white;
}
.cuadro3{
    height: 100px;
    background-color:  #32579d;
    text-align: center;
}
.cuadro3 p{
    color: white;
}
.buttonDelete{
   display: flex;
   justify-content: center;
}
footer{
    height: 80px;
    background-color: #6091ff;
    text-align: center;
}
footer p{
    color: white;
}
#espacioSaludo{
    height: 20px;
    background-color:rgb(47, 51, 46);
    color: white;
}
#espacioEdad{
    height: 20px;
    background-color:rgb(47, 51, 46);
    color: white;
}
.botonDeGuardado{
    display: flex;
    justify-content: center;
    background-color: #000000
}
#botonGuardadoEspacio{
    height: 20px;
    background-color:rgb(47, 51, 46);
    color: white;
}
.cuadro00{
    height: 100px;
    background-color:  #000000;
    text-align: center;
}
.cuadro00 h3{
    color: white;
}
.cuadro00 div{
    color: white;
}